.containerCustomMap {
    position: 'relative';
    width: 500;
    height: 500;
}

.MapOverLayContainer01 {
    position: absolute;
    top: 0;
    left: 0
}

.MapOverLayContainer01 {
    z-index: 100000;
    padding: 10px 60px;
    pointer-events: none;
}

.MapOverLayContainer01>* {
    pointer-events: auto;
}