.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0,
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Sizing of Map Container */
.leaflet-container {
  height: 25rem;
  width: 20rem;
}

/* Scroll BAR */
::-webkit-scrollbar {
  height: 8px;
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}

.mainTreemetry::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8
}

.mainTreemetry-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}

.MuiTableContainer-root::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.MuiTableContainer-root::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background: #9c9c9c;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: #fff;
  color: rgba(190, 190, 190, 0.3)
}


.mainTreemetry::-webkit-scrollbar {
  width: 8px;
  background-color: #fff
}

.mainTreemetry::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(190, 190, 190, 0.3);
  background-color: #555
}