.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0,
}


/* Sizing of Map Container */
.leaflet-container {
  height: 55vh;
  width: 20rem;
}